<!DOCTYPE html>
<html>

<head>
<!-- 4Head -->
<!-- <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
-->

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<!-- wowhead forsenE -->
<script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: false, iconSize:"medium"};</script>
<script src="http://wow.zamimg.com/widgets/power.js"></script>
<title> Simcraft wrapper </title>

</head>

<body>
<div id="app">
<v-app dark fluid ma-0 pa-0 fill-height>
      <v-content>
	<v-container>
	  <v-layout row justify-space-between>
    	    <v-flex  xs12 sm12 md3>
			<v-select class="form-control"  outline v-model="region" v-bind:items="regions" @change="regionSelected" label="Choose a region">
			</v-select>
     	    
	    </v-flex>
    	    <v-flex  xs12 sm12 md4>
			<v-autocomplete class="form-control" :menu-props="{ auto: true }" outline v-model="server" v-bind:items="serverList" no-data-text="Please select a region first" label="Choose a server">
			</v-autocomplete>
     	   </v-flex> 
	   <v-flex xs12 sm12 md3>
          	<v-text-field v-model="character"
            counter="25"
            label="Character Name"
            outline
maxlength="25"
v-bind:append-outer-icon="charValidator"
:rules="charRules"
clearable
@change="charTyped"
          >
 <v-progress-linear :indeterminate="true"  v-if:="charCheck"></v-progress-linear>
</v-text-field>
        </v-flex>
	 </v-layout>
<v-layout>
<v-btn block color="secondary" dark v-on:click="sim">Run Simulation !</v-btn>
</v-layout>	
<v-layout row align-center justify-space-between>
<v-progress-circular
      indeterminate
      color="amber"
      :size="100"
       v-if="simulationBefore"
    ></v-progress-circular>
 <v-progress-circular
      :rotate="360"
      :size="100"
      :width="15"
      :value="progressPercent"
      color="teal"
      v-if="simulationRunning"
    >
      {{ progressPercentText }}
    </v-progress-circular> <h1> {{ progressText }} </h1>
	</v-layout>
	<v-layout row justify-space-between>
	<v-flex xs6>
		<a href="#" v-for="item in charItems" :data-wowhead="item.wowhead"></a>
 	</v-flex>
	<v-flex xs6> 
  <v-data-table
    hide-headers
    hide-actions
    :items="simStats"
    class="elevation-24"
  >
    <template slot="items" slot-scope="props">
     <td class="text-xs-left">{{ props.item.parameter }}  </td> <td class="text-xs-right">{{ props.item.text }} </td>
    </template>
  </v-data-table>
	</v-flex>

	</v-layout>
	<v-container>
      </v-content>
</v-app>
<!--			<button type="button" v-on:click="sim" class="btn btn-primary">Go!</button>
-->
</div>


<script>
// cant use import cause ES5 LUL
//import axios from 'axios';
new Vue({
  el: '#app',
  data: {
    region: '',
    character: '',
    charData: {},
    charItems: [],
    charExists: null,
    charCheck: false,
    server: '', 
    serverList:[],
    simStats: [],
    simulationBefore: false,
    simulationRunning: false,
    progressPercent: 0,
    progressPercentText: '',
    progressText: '',
    regions:['EU','US','KR'],

    servers:{ EU: [
"Aerie Peak",
"Agamaggan",
"Aggra (Português)",
"Aggramar",
"Ahn'Qiraj",
"Al'Akir",
"Alexstrasza",
"Alleria",
"Alonsus",
"Aman'Thul",
"Ambossar",
"Anachronos",
"Anetheron",
"Antonidas",
"Anub'arak",
"Arak-arahm",
"Arathi",
"Arathor",
"Archimonde",
"Area 52",
"Argent Dawn",
"Arthas",
"Arygos",
"Ashenvale",
"Aszune",
"Auchindoun",
"Azjol-Nerub",
"Azshara",
"Azuregos",
"Azuremyst",
"Baelgun",
"Balnazzar",
"Blackhand",
"Blackmoore",
"Blackrock",
"Blackscar",
"Blade's Edge",
"Bladefist",
"Bloodfeather",
"Bloodhoof",
"Bloodscalp",
"Blutkessel",
"Booty Bay",
"Borean Tundra",
"Boulderfist",
"Bronze Dragonflight",
"Bronzebeard",
"Burning Blade",
"Burning Legion",
"Burning Steppes",
"C'Thun",
"Chamber of Aspects",
"Chants éternels",
"Cho'gall",
"Chromaggus",
"Colinas Pardas",
"Confrérie du Thorium",
"Conseil des Ombres",
"Crushridge",
"Culte de la Rive noire",
"Daggerspine",
"Dalaran",
"Dalvengyr",
"Darkmoon Faire",
"Darksorrow",
"Darkspear",
"Das Konsortium",
"Das Syndikat",
"Deathguard",
"Deathweaver",
"Deathwing",
"Deepholm",
"Defias Brotherhood",
"Dentarg",
"Der Mithrilorden",
"Der Rat von Dalaran",
"Der abyssische Rat",
"Destromath",
"Dethecus",
"Die Aldor",
"Die Arguswacht",
"Die Nachtwache",
"Die Silberne Hand",
"Die Todeskrallen",
"Die ewige Wacht",
"Doomhammer",
"Draenor",
"Dragonblight",
"Dragonmaw",
"Drak'thul",
"Drek'Thar",
"Dun Modr",
"Dun Morogh",
"Dunemaul",
"Durotan",
"Earthen Ring",
"Echsenkessel",
"Eitrigg",
"Eldre'Thalas",
"Elune",
"Emerald Dream",
"Emeriss",
"Eonar",
"Eredar",
"Eversong",
"Executus",
"Exodar",
"Festung der Stürme",
"Fordragon",
"Forscherliga",
"Frostmane",
"Frostmourne",
"Frostwhisper",
"Frostwolf",
"Galakrond",
"Garona",
"Garrosh",
"Genjuros",
"Ghostlands",
"Gilneas",
"Goldrinn",
"Gordunni",
"Gorgonnash",
"Greymane",
"Grim Batol",
"Grom",
"Gul'dan",
"Hakkar",
"Haomarush",
"Hellfire",
"Hellscream",
"Howling Fjord",
"Hyjal",
"Illidan",
"Jaedenar",
"Kael'thas",
"Karazhan",
"Kargath",
"Kazzak",
"Kel'Thuzad",
"Khadgar",
"Khaz Modan",
"Khaz'goroth",
"Kil'jaeden",
"Kilrogg",
"Kirin Tor",
"Kor'gall",
"Krag'jin",
"Krasus",
"Kul Tiras",
"Kult der Verdammten",
"La Croisade écarlate",
"Laughing Skull",
"Les Clairvoyants",
"Les Sentinelles",
"Lich King",
"Lightbringer",
"Lightning's Blade",
"Lordaeron",
"Los Errantes",
"Lothar",
"Madmortem",
"Magtheridon",
"Mal'Ganis",
"Malfurion",
"Malorne",
"Malygos",
"Mannoroth",
"Marécage de Zangar",
"Mazrigos",
"Medivh",
"Minahonda",
"Moonglade",
"Mug'thol",
"Nagrand",
"Nathrezim",
"Naxxramas",
"Nazjatar",
"Nefarian",
"Nemesis",
"Neptulon",
"Ner'zhul",
"Nera'thor",
"Nethersturm",
"Nordrassil",
"Norgannon",
"Nozdormu",
"Onyxia",
"Outland",
"Perenolde",
"Pozzo dell'Eternità",
"Proudmoore",
"Quel'Thalas",
"Ragnaros",
"Rajaxx",
"Rashgarroth",
"Ravencrest",
"Ravenholdt",
"Razuvious",
"Rexxar",
"Runetotem",
"Sanguino",
"Sargeras",
"Saurfang",
"Scarshield Legion",
"Sen'jin",
"Shadowsong",
"Shattered Halls",
"Shattered Hand",
"Shattrath",
"Shen'dralar",
"Silvermoon",
"Sinstralis",
"Skullcrusher",
"Soulflayer",
"Spinebreaker",
"Sporeggar",
"Steamwheedle Cartel",
"Stormrage",
"Stormreaver",
"Stormscale",
"Sunstrider",
"Suramar",
"Sylvanas",
"Taerar",
"Talnivarr",
"Tarren Mill",
"Teldrassil",
"Temple noir",
"Terenas",
"Terokkar",
"Terrordar",
"The Maelstrom",
"The Sha'tar",
"The Venture Co",
"Theradras",
"Thermaplugg",
"Thrall",
"Throk'Feroth",
"Thunderhorn",
"Tichondrius",
"Tirion",
"Todeswache",
"Trollbane",
"Turalyon",
"Twilight's Hammer",
"Twisting Nether",
"Tyrande",
"Uldaman",
"Ulduar",
"Uldum",
"Un'Goro",
"Varimathras",
"Vashj",
"Vek'lor",
"Vek'nilash",
"Vol'jin",
"Wildhammer",
"Wrathbringer",
"Xavius",
"Ysera",
"Ysondre",
"Zenedar",
"Zirkel des Cenarius",
"Zul'jin",
"Zuluhed"
],
	US:[
"Aerie Peak",
"Agamaggan",
"Aggramar",
"Akama",
"Alexstrasza",
"Alleria",
"Altar of Storms",
"Alterac Mountains",
"Aman'Thul",
"Andorhal",
"Anetheron",
"Antonidas",
"Anub'arak",
"Anvilmar",
"Arathor",
"Archimonde",
"Area 52",
"Argent Dawn",
"Arthas",
"Arygos",
"Auchindoun",
"Azgalor",
"Azjol-Nerub",
"Azralon",
"Azshara",
"Azuremyst",
"Baelgun",
"Balnazzar",
"Barthilas",
"Black Dragonflight",
"Blackhand",
"Blackrock",
"Blackwater Raiders",
"Blackwing Lair",
"Blade's Edge",
"Bladefist",
"Bleeding Hollow",
"Blood Furnace",
"Bloodhoof",
"Bloodscalp",
"Bonechewer",
"Borean Tundra",
"Boulderfist",
"Bronzebeard",
"Burning Blade",
"Burning Legion",
"Caelestrasz",
"Cairne",
"Cenarion Circle",
"Cenarius",
"Cho'gall",
"Chromaggus",
"Coilfang",
"Crushridge",
"Daggerspine",
"Dalaran",
"Dalvengyr",
"Dark Iron",
"Darkspear",
"Darrowmere",
"Dath'Remar",
"Dawnbringer",
"Deathwing",
"Demon Soul",
"Dentarg",
"Destromath",
"Dethecus",
"Detheroc",
"Doomhammer",
"Draenor",
"Dragonblight",
"Dragonmaw",
"Drak'Tharon",
"Drak'thul",
"Draka",
"Drakkari",
"Dreadmaul",
"Drenden",
"Dunemaul",
"Durotan",
"Duskwood",
"Earthen Ring",
"Echo Isles",
"Eitrigg",
"Eldre'Thalas",
"Elune",
"Emerald Dream",
"Eonar",
"Eredar",
"Executus",
"Exodar",
"Farstriders",
"Feathermoon",
"Fenris",
"Firetree",
"Fizzcrank",
"Frostmane",
"Frostmourne",
"Frostwolf",
"Galakrond",
"Gallywix",
"Garithos",
"Garona",
"Garrosh",
"Ghostlands",
"Gilneas",
"Gnomeregan",
"Goldrinn",
"Gorefiend",
"Gorgonnash",
"Greymane",
"Grizzly Hills",
"Gul'dan",
"Gundrak",
"Gurubashi",
"Hakkar",
"Haomarush",
"Hellscream",
"Hydraxis",
"Hyjal",
"Icecrown",
"Illidan",
"Jaedenar",
"Jubei'Thos",
"Kael'thas",
"Kalecgos",
"Kargath",
"Kel'Thuzad",
"Khadgar",
"Khaz Modan",
"Khaz'goroth",
"Kil'jaeden",
"Kilrogg",
"Kirin Tor",
"Korgath",
"Korialstrasz",
"Kul Tiras",
"Laughing Skull",
"Lethon",
"Lightbringer",
"Lightning's Blade",
"Lightninghoof",
"Llane",
"Lothar",
"Madoran",
"Maelstrom",
"Magtheridon",
"Maiev",
"Mal'Ganis",
"Malfurion",
"Malorne",
"Malygos",
"Mannoroth",
"Medivh",
"Misha",
"Mok'Nathal",
"Moon Guard",
"Moonrunner",
"Mug'thol",
"Muradin",
"Nagrand",
"Nathrezim",
"Nazgrel",
"Nazjatar",
"Nemesis",
"Ner'zhul",
"Nesingwary",
"Nordrassil",
"Norgannon",
"Onyxia",
"Perenolde",
"Proudmoore",
"Quel'Thalas",
"Quel'dorei",
"Ragnaros",
"Ravencrest",
"Ravenholdt",
"Rexxar",
"Rivendare",
"Runetotem",
"Sargeras",
"Saurfang",
"Scarlet Crusade",
"Scilla",
"Sen'jin",
"Sentinels",
"Shadow Council",
"Shadowmoon",
"Shadowsong",
"Shandris",
"Shattered Halls",
"Shattered Hand",
"Shu'halo",
"Silver Hand",
"Silvermoon",
"Sisters of Elune",
"Skullcrusher",
"Skywall",
"Smolderthorn",
"Spinebreaker",
"Spirestone",
"Staghelm",
"Steamwheedle Cartel",
"Stonemaul",
"Stormrage",
"Stormreaver",
"Stormscale",
"Suramar",
"Tanaris",
"Terenas",
"Terokkar",
"Thaurissan",
"The Forgotten Coast",
"The Scryers",
"The Underbog",
"The Venture Co",
"Thorium Brotherhood",
"Thrall",
"Thunderhorn",
"Thunderlord",
"Tichondrius",
"Tol Barad",
"Tortheldrin",
"Trollbane",
"Turalyon",
"Twisting Nether",
"Uldaman",
"Uldum",
"Undermine",
"Ursin",
"Uther",
"Vashj",
"Vek'nilash",
"Velen",
"Warsong",
"Whisperwind",
"Wildhammer",
"Windrunner",
"Winterhoof",
"Wyrmrest Accord",
"Ysera",
"Ysondre",
"Zangarmarsh",
"Zul'jin",
"Zuluhed"
],
 KR:[
"굴단",
"노르간논",
"달라란",
"데스윙",
"듀로탄",
"렉사르",
"말퓨리온",
"불타는 군단",
"세나리우스",
"스톰레이지",
"아즈샤라",
"알렉스트라자",
"와일드해머",
"윈드러너",
"줄진",
"하이잘",
"헬스크림"
],
},
		
  }, //end of data
methods:{
	regionSelected:function(){
		this.server = '';
		this.serverList = this.servers[this.region];
	},
	sim:function(){
		this.simulationBefore = true;
		this.progressText = "Sending simulation request to server!"
		
		let url = '/' + this.region + '/' + this.server + '/' + this.character;
		var source = new EventSource(url);
		source.onopen = function() {
				
		

		};

		source.onerror = function (error) {
			console.log("error:" + error);
			source.close();
		};
		source.onmessage = (evt) =>{
			this.simulationBefore=false;
			//console.log(evt.data);
			let obj = JSON.parse(evt.data);
			console.log(obj);
			// if it's an error message
			if (obj.hasOwnProperty('error')){
				this.progressText = obj['error'];
				this.sumulationRunning = false,
				source.close();
			}else{
				if (obj.hasOwnProperty('current_step')){
				this.simulationRunning = true;
//	 progressPercent: 0,
// 92     progressPercentText: '			
				this.progressPercent = parseInt(obj['current_step'])/parseInt(obj['maximum_steps']);
				this.progressPercentText = obj['current_step'] + "/" + obj['step_namme'] ;
			 	this.progressText = "Performing step: " + obj['current_step'] + ": " + obj['step_name'] + ". Estimated time: " + obj['estimated_time']	
				} else if (obj.hasOwnProperty('sim')){
					this.progressPercent = 100;
					this.progressPercentText = "100%";
					this.progressText = "Simulation over !";
					this.simStats =[];
//em.parameters </span> <span class="text-xs-right">{{ props.item.text }
					this.simStats.push ( { parameter: "Simc version", text: obj.version  });
					this.simStats.push ( { parameter: "Build date", text: obj.build_date  });
					this.simStats.push ( { parameter: "Git revision", text: obj.git_revision  });
					
				}
			}
				
			
		};
	},
	charTyped: function(){
		charCheck = true;
	}
}, //end of method
computed: {
	charValidator: function(){
		if (this.charExists === true)
			return "check_circle";
		else
			return "warning";

	},
 charRules: function(){
	return [
	//v => v.length <= 25 || 'Max 25 characters',
	v => {
		if ( this.region == '' || this.server == ''){
			return true;
		}

		axios.get('/' + this.region + '/' + this.server + '/' + v + '/check_existence')
 		 .then( (response) => {
    			if (response.data.hasOwnProperty('status')){
				this.charExists = false;
				this.charData = {};
		//		temp = `${response.data.reason}`;
		//		console.log("temp: " + temp);
		//		return temp;
			}else if  (response.data.hasOwnProperty('lastModified')){
				this.charExists = true;
				this.charData = response.data;
						

			}
	  
		})
 		 .catch(function (error) {
    		// handle error
  		})
		.then ( () =>{ 
			charCheck = false;
		});
		return true;
		}
	]},

},//end of computed
watch: {
	charData: function( data, oldData){
		console.log(data);
		this.charItems = [];
		if (Object.keys(this.charData).length === 0 && this.charData.constructor === Object)
			return;

		Object.keys(data.items).forEach(function(key) {
//			console.log(typeof(data.items[key])); 
			if (typeof(data.items[key]) == "object"){
				let temp = data.items[key];
				temp.wowhead=`item=${data.items[key].id}`; 
				this.charItems.push(temp);
			}
		},this);
		//reinit or it wont be iconized
		this.$nextTick(function () {
        		// DOM is now updated
        		// `this` is bound to the current instance
		$WowheadPower.init();     	
		});
		

		}
	}

}); //end new vue

</script>


<style>
.iconlarge del,.iconmedium del,.icontiny del{
	background-image: none !important;
}
</style>

</body>




</html>
